# === 1. 全局规则 ===
.env
*.env
*.pem
*.key
*.crt
*.p12
*.pfx
*.sql.gz
*.dump
*.bak

# === 2. 后端规则 ===

bbctg_vita_server/.venv
bbctg_vita_server/**/__pycache__/
bbctg_vita_server/**/*.pyc
# DRM SDK 整目录（含 __init__.py 与 lib/）由运维按环境手动部署，不提交 Git
bbctg_vita_server/integrations/drm/
config/local/
config/test/
config/prod/
repository/



# === 3. 前端规则 ===

bbctg_vita_web/**/node_modules
bbctg_vita_web/**/dist
bbctg_vita_web/**/dist-ssr
bbctg_vita_web/**/dist.zip
bbctg_vita_web/**/dist.tar
bbctg_vita_web/**/dist.war
bbctg_vita_web/**/.nitro
bbctg_vita_web/**/.output
bbctg_vita_web/**/*-dist.zip
bbctg_vita_web/**/*-dist.tar
bbctg_vita_web/**/*-dist.war
bbctg_vita_web/**/coverage
bbctg_vita_web/**/*.local
bbctg_vita_web/**/.vitepress/cache
bbctg_vita_web/**/.cache
bbctg_vita_web/**/.turbo
bbctg_vita_web/**/.temp
bbctg_vita_web/**/dev-dist
bbctg_vita_web/**/.stylelintcache
bbctg_vita_web/**/yarn.lock
bbctg_vita_web/**/package-lock.json
bbctg_vita_web/**/.VSCodeCounter
bbctg_vita_web/**/backend-mock/data
bbctg_vita_web/**/.omx
bbctg_vita_web/**/.env.local
bbctg_vita_web/**/.env.*.local
bbctg_vita_web/**/.eslintcache
bbctg_vita_web/**/vite.config.mts.*
bbctg_vita_web/**/vite.config.mjs.*
bbctg_vita_web/**/vite.config.js.*
bbctg_vita_web/**/vite.config.ts.*
